.login-container {

    .header {
        height: 45px;
        padding: 0 100px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;

        .btn-sign-up {
            background-color: white;
            color: black;
            border: 1px solid black;
            border-radius: 5px;
            padding: 2px 10px;

            &:hover {
                background-color: #dfdddd;
            }
        }
    }

    .title {
        font-size: 25px;
        padding: 20px 0;
        text-align: center;
    }

    .welcome {
        font-size: 20px;
        padding: 6px 0 20px 0;
        text-align: center;
    }

    .content-form {
        display: flex;
        flex-direction: column;
        gap: 13px;

        label {
            display: block;
            padding-bottom: 6px;
        }

        input {
            border-radius: 5px;
        }

        .forgot {
            padding-bottom: 10px;
        }

        .btn-login {
            border-radius: 5px;
            border: none;
            padding: 10px;
            background-color: rgb(60, 60, 60);
            color: white;

            &:hover {
                background-color: black;
            }
            &:disabled{
                background-color: #dddd;
                color: #afafaf;
                cursor: no-drop;
            }
            span {
                display: inline-flex;
                align-items: center;
                .loader-icon {
                    margin-right: 10px;
                    animation: spin 1s infinite linear;
                    color: #03c8ff;
                }
    
                @keyframes spin {
                    from {
                        transform: scale(1) rotate(0deg);
                    }
    
                    to {
                        transform: scale(1) rotate(360deg);
                    }
                }
            }
        }

        .text-center {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}